/* LINKS_HEADER_ANIMATION */

@keyframes linkHover {
    0%{
        transform: translateY(0px);
    }100%{
        transform: translateY(-2px);
    }
}


.link-item::before{
    content: "";
    position: absolute;
    width: 100%;
    background: #ffd;
    height: 2.5px;
    top: 2.67rem;
    transform: scale(0);
    border-radius: 1px;
    transition: .4s;
    cursor: pointer;
}

.link-item:hover::before{
    transform: scale(1.2);
}

body{
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
}

.violet-text{
    color: #6C63FF;
}

.marked-text{
    color: #090909;
}

/* _____MEDIA_QUIERIES_ABOUT______ */

@media screen and (max-width:  1675px) {
    .section_tittle{
        font-size: 64px !important; 
    }
    .section_text{
        font-size: 0.9rem !important;
        margin: 1.2rem 0 0 0 !important;
    }
    .img-about{
      width: 32.5rem;
    }
    .img-about_2{
        margin: 0 0 0 1rem;
    }
    .text-section_container{
        max-width: 80% !important;
    }
}

@media screen and (max-width:  1278px) {
    body {
        font-size: 14px;
    }
    .section{
        flex-direction: column-reverse !important;
        margin: 0.5rem 0;
    }
    .text-section_container{
        margin: 0 0 2.5rem 0;
        /* text-align: center; */
    }
    .img-about{
        margin:  0 0 1rem 0;
        width: 70%;
    } 
   .section{
        height: auto !important;
    }
}

@media screen and (max-width: 727px) {
    .section_tittle{
        font-size: 54px !important; 
    }
    .section_text{
        font-size: 0.8rem !important;
        margin: 1rem 0 0 0 !important;
    }
    .img-about{
      width: 90%;
    }
    .section_subtittle{
        font-size: 33px !important;
    }
}

@media screen and (max-width: 517px) {
    .section{
        margin: 0.1rem 0 !important;
                text-align: justify;
    }
    .section_tittle{
        font-size: 1.6rem !important; 
    }
    .section_subtittle{
        font-size: 1.4rem !important;
    }
    .section_text{
        font-size: 0.8rem !important;
        margin: 0.6rem 0 0 0 !important;
    }
    .text-section_container{
        max-width: 90% !important;
    }
}

.aviso-hidden{
    display: none;
}

/* _____MODAL AVISO_____ */

.modal_aviso{
    transition: .5s;
    z-index: 10;
    animation-name: modalAviso;
    animation-duration: 4s;
    animation-timing-function:ease;
    animation-iteration-count: 1;
}

@keyframes modalAviso {
    0%{
        transform: translateY(0);
        opacity: 0;
    }50%{
        transform: translateY(-5rem);
        opacity: 1;
    }100%{
        transform: translateY(0);
        opacity: 0;
    }
} 

/* _____MODAL ALERTA_____ */

.modal_button{
    transition: .4s;
    width: 40% !important;
}

.accept_button{
    background: #17955e;
    color: #fafafa !important;
}
.accept_button:hover{
    background: #3ddc97;
}

.cancel_button{
    background: #e92535;
    color: #fafafa !important;
}
.cancel_button:hover{
    background: #F54654;
}

.modal_alert{
    transition: .5s;
    z-index: 10;
    transform: translateY(-3rem);
    animation-name: modalAlert;
    animation-duration: 0.5s;
    animation-timing-function: ease-out;
    animation-iteration-count: 1;
}

.app_alerted{
    animation: modalOpacity 0.5s ease-out forwards;
    height: 100vh;
}

.app_aviso{
    height: 100vh !important;
    box-sizing: border-box !important;
    overflow: hidden !important;
}

.app{
    height: 100vh !important;
    box-sizing: border-box !important;
    overflow: hidden !important;
} 

@keyframes modalAlert {
    0%{
        transform: translateY(-15rem);
        opacity: 0;
    }100%{
        transform: translateY(-3rem);
        opacity: 1;
    }
}

@keyframes modalOpacity {

    0%{
        background: #fafafa,
    }100%{
        background: rgba(0, 0, 0, 0.5)
    }
}       
          
/* _________REGISTER__STYLE */

.submit_buttom-login{
    background: #958fff !important;
} 

.submit_buttom-login:hover{
    background: #6C63FF !important;
    transition: .5s;
    color: #fff !important;
}

.input_register:hover{
    border: 1.6px solid #6C63FF !important;
    transition: .5s;
}


.input_register-pass{
    border: 1.6px solid #52cf42 !important;
    transition: .5s;
}

@media screen and (max-width: 1300px) {
    .register{
        flex-direction: column !important;
        justify-content: center;
    }

    .img_login{
        display: none !important;
    }

    .input_register{
        width: 70%;
        margin: 0 auto;
    }

    .show_pass{
        margin: 0 auto;

    }
}

@media screen and (max-width: 700px) {
    .input_register{
        width: 90%;
        margin: 0 auto;

    }
}
      
      
.check-login{
    background: rgba(69, 38, 206, 0.5) !important;
    color: #ffffff !important;
}

.input_submit_create{
    width: 50% !important;
    color: white !important;
    background: rgba(69, 38, 206, 0.5) !important;
}

/* CREATION_MODAL___________ */

.day_election_modal, .day_election_modal_active{
    width: 7%;
    height: 3rem;
    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: start;
    position: relative;
    cursor: pointer;
    transition: .3s;
}
.day_election_modal{
    background: #dedede;
    color: #222;
}

.day_election_modal_active{
    background: #459cff ;
    color: #e7e7e7;
}

.day_election_modal p, .day_election_modal_active p{
    position: absolute;
    top: 2px;
}

/* ________MODAL DE CREACION________ */

.input_modal_creacion:hover{
    border: #e92535;
}
