/* LINKS_HEADER_ANIMATION */

@keyframes linkHover {
    0%{
        transform: translateY(0px);
    }100%{
        transform: translateY(-2px);
    }
}

body{
    font-size: 16px;
}

.link-item::before{
    content: "";
    position: absolute;
    width: 100%;
    background: #ffd;
    height: 2.5px;
    top: 1.87rem;
    transform: scale(0);
    border-radius: 1px;
    transition: .4s;
    cursor: pointer;
}

.link-item:hover::before{
    transform: scale(1.2);
}


@media screen and (max-width:  1315px) {
    body {
        font-size: 14px;
    }
}